Repository SWEatUNIPD/NearYou, pull requests merged in 2025-03, with the labels that each got.

#19 Simulator
  client/.prettierrc
  client/Dockerfile
  client/OLD/producer.js
  client/OLD/tracks-simulator-gpx.js
  client/OLD/tracks-simulator.js
  client/env-var.env
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/producer.ts
  client/sensor_data/sensor-1.txt
  client/src/App.ts
  client/src/EnvManager.ts
  client/src/GeoPoint.ts
  client/src/KafkaManager.ts
  client/src/Rent.ts
  client/src/RentObserver.ts
  client/src/RentSubject.ts
  client/src/Simulator.ts
  client/src/SimulatorObserver.ts
  client/src/TrackFetcher.ts
  client/src/Tracker.ts
  client/src/TrackerSubject.ts
  client/test/Simulator.test.ts
  client/test/TrackerFetcher.test.ts
  client/test/vitest.test.ts
  client/tracks-simulator.ts
  client/tsconfig.json
  client/vitest.config.ts
  package-lock.json
  package.json
Labels: Simulator

#23 Test simulatore V 1.0
  .gitignore
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/src/App.ts
  client/src/EnvManager.ts
  client/src/GeoPoint.ts
  client/src/KafkaManager.ts
  client/src/Rent.ts
  client/src/RentObserver.ts
  client/src/RentSubject.ts
  client/src/Simulator.ts
  client/src/SimulatorObserver.ts
  client/src/TrackFetcher.ts
  client/src/Tracker.ts
  client/src/TrackerSubject.ts
  client/src/config/.env
  client/src/config/EnvManager.ts
  client/src/config/Inversify.config.ts
  client/src/config/InversifyType.ts
  client/test/Simulator.test.ts
  client/test/TrackerFetcher.test.ts
  client/test/unit/GeoPoint.test.ts
  client/test/unit/KafkaManager.test.ts
  client/test/unit/Simulator.test.ts
  client/test/unit/TrackFetcher.test.ts
  client/test/unit/Tracker1.test.ts
  client/test/unit/Tracker2.test.ts
  client/test/vitest.test.ts
  client/tsconfig.json
  client/vitest.config.ts
Labels: Simulator, Test

#29 Grafici [requisiti opzionali]
  compose.yml
  data/grafana/grafana.db
Labels: Grafana
